src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="BookingsSOAP" service="Bookings" wsdlLocation="wsdl-formatter.wsdl"/>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/Bookings/BookingsSOAP">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getRoutes:\soapkit-config">
		<set-variable value="SG-BEU" doc:name="Set Variable" doc:id="7c2b09ad-5751-4884-b7f9-06ba36ab93b5" variableName="destinationLocation"/>
		<set-variable value="MY-KUL" doc:name="Set Variable" doc:id="76d81399-243d-445c-b799-ce55b3d80d87" variableName="originLocation"/>
		<ee:transform doc:id="af62055d-841b-44dc-8e0a-2aea0751036e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns book http://www.example.org/Bookings/
---
{
	
	book#getRouteResponse: {
		out: 
			{
			ROUTELIST: {
				ROUTEINFO: {
					origin: vars.originLocation,
					destination: vars.destinationLocation
				}
			}
		} write "application/xml"
	}
}
      
        
       
   ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8b94ffb4-825c-4159-80f9-ea386a5cf0aa" message="#[payload]"/>
    </flow>
</mule>
